*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: #000000; 
   
}
#titulo {
    letter-spacing: 2px;
    color: antiquewhite;
    text-align: center;
    margin-top: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container-relogio{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 8%;
}
.quadrado{
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 0.8em;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0px 0px 4px bisque;
    cursor: pointer;
    transition: transform 0.5s;
}
.quadrado:hover{
    background-color: orangered;
    color: whitesmoke;
    transition: 0.7s ease ease-in-out;
    transform: scale(1.1);

}
.quadrado .label{
    font-size: 20px;
   
}
.quadrado .label{
    margin-top: 1rem;
}
.quadrado .valor{
    font-size: 60px;
}
